<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://sm.ign.com/ign_br/screenshot/default/blob_hbbk.jpg"
    alt=""
    height="200px"
    srcset="">
  </div>

  <div class="big-card__title">
    <a href="">
      <h1>Saio a nova versão do Angular</h1>
    </a>
  </div>

  <div class="big-card__description">
    <a href="">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eum, odit illum, earum quis id impedit saepe facilis hic sunt repellat architecto quaerat consectetur in iusto est nihil molestiae doloremque.
      </p>
    </a>
  </div>
</div>
