<div class="container__hero">

  <div class="hero__atks">
    @if (id == "1") {
      <div class="hero__cover">
        <img src="{{data[0].photo}}" alt="" srcset="">
      </div>

      <div class="hero__title">
        <h1>{{data[0].title}}</h1>
      </div>

      <div class="hero__info">
        <p>{{data[0].info}}</p>
      </div>

      <app-small-card
        id="1"
        photoCard="{{data[0].photoAtkOne}}"
        cardTitle="{{data[0].titleAtkOne}}"
        description="{{data[0].descriptionAtkOne}}"
        />
        <app-small-card
        id="2"
        photoCard="{{data[0].photoAtkTwo}}"
        cardTitle="{{data[0].titleAtkTwo}}"
        description="{{data[0].descriptionAtkTwo}}"
        />
        <app-small-card
        id="3"
        photoCard="{{data[0].photoAtkThree}}"
        cardTitle="{{data[0].titleAtkThree}}"
        description="{{data[0].descriptionAtkThree}}"
        />
      }
      @else if (id == "2") {

        <div class="hero__cover">
          <img src="{{data[1].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[1].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[1].info}}</p>
        </div>

        <app-small-card
        photoCard="{{data[1].photoAtkOne}}"
        cardTitle="{{data[1].titleAtkOne}}"
        description="{{data[1].descriptionAtkOne}}"
        />
        <app-small-card
        photoCard="{{data[1].photoAtkTwo}}"
        cardTitle="{{data[1].titleAtkTwo}}"
        description="{{data[1].descriptionAtkTwo}}"
        />
        <app-small-card
        photoCard="{{data[1].photoAtkThree}}"
        cardTitle="{{data[1].titleAtkThree}}"
        description="{{data[1].descriptionAtkThree}}"
        />

      }
      @else if (id == "3") {
        <div class="hero__cover">
          <img src="{{data[2].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[2].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[2].info}}</p>
        </div>

        <app-small-card
        photoCard="{{data[2].photoAtkOne}}"
        cardTitle="{{data[2].titleAtkOne}}"
        description="{{data[2].descriptionAtkOne}}"
        />
        <app-small-card
        photoCard="{{data[2].photoAtkTwo}}"
        cardTitle="{{data[2].titleAtkTwo}}"
        description="{{data[2].descriptionAtkTwo}}"
        />
        <app-small-card
        photoCard="{{data[2].photoAtkThree}}"
        cardTitle="{{data[2].titleAtkThree}}"
        description="{{data[2].descriptionAtkThree}}"
        />
      }
      @else if (id == "5") {

        <div class="hero__cover">
          <img src="{{data[4].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[4].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[4].info}}</p>
        </div>

        <app-small-card
        id="1"
        photoCard="{{data[4].photoAtkOne}}"
        cardTitle="{{data[4].titleAtkOne}}"
        description="{{data[4].descriptionAtkOne}}"
        />
        <app-small-card
        id="2"
        photoCard="{{data[4].photoAtkTwo}}"
        cardTitle="{{data[4].titleAtkTwo}}"
        description="{{data[4].descriptionAtkTwo}}"
        />
        <app-small-card
        id="3"
        photoCard="{{data[4].photoAtkThree}}"
        cardTitle="{{data[4].titleAtkThree}}"
        description="{{data[4].descriptionAtkThree}}"
        />
        <app-small-card
        id="4"
        photoCard="{{data[4].photoAtkFour}}"
        cardTitle="{{data[4].titleAtkFour}}"
        description="{{data[4].descriptionAtkFour}}"
        />
      } @else if (id == "6") {
        <div class="hero__cover">
          <img src="{{data[9].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[9].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[9].info}}</p>
        </div>

        <app-small-card
        id="21"
        photoCard="{{data[5].photo}}"
        cardTitle="{{data[5].title}}"
        description="{{data[5].info}}"
        />
        <app-small-card
        id="22"
        photoCard="{{data[6].photo}}"
        cardTitle="{{data[6].title}}"
        description="{{data[6].info}}"
        />
        <app-small-card
        id="23"
        photoCard="{{data[7].photo}}"
        cardTitle="{{data[7].title}}"
        description="{{data[7].info}}"
        />
        <app-small-card
        id="24"
        photoCard="{{data[8].photo}}"
        cardTitle="{{data[8].title}}"
        description="{{data[8].info}}"
        />
      }

      @else if (id == "21") {
        <div class="hero__cover">
          <img src="{{data[5].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[5].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[5].info}}</p>
        </div>

        <app-small-card
        photoCard="{{data[5].photoAtkOne}}"
        cardTitle="{{data[5].titleAtkOne}}"
        description="{{data[5].descriptionAtkOne}}"
        />
        <app-small-card
        photoCard="{{data[5].photoAtkTwo}}"
        cardTitle="{{data[5].titleAtkTwo}}"
        description="{{data[5].descriptionAtkTwo}}"
        />
        <app-small-card
        photoCard="{{data[5].photoAtkThree}}"
        cardTitle="{{data[5].titleAtkThree}}"
        description="{{data[5].descriptionAtkThree}}"
        />
      }

      @else if (id == "22") {
        <div class="hero__cover">
          <img src="{{data[6].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[6].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[6].info}}</p>
        </div>

        <app-small-card
        photoCard="{{data[6].photoAtkOne}}"
        cardTitle="{{data[6].titleAtkOne}}"
        description="{{data[6].descriptionAtkOne}}"
        />
        <app-small-card
        photoCard="{{data[6].photoAtkTwo}}"
        cardTitle="{{data[6].titleAtkTwo}}"
        description="{{data[6].descriptionAtkTwo}}"
        />
      }

      @else if (id == "23") {
        <div class="hero__cover">
          <img src="{{data[7].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[7].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[7].info}}</p>
        </div>

        <app-small-card
        photoCard="{{data[7].photoAtkOne}}"
        cardTitle="{{data[7].titleAtkOne}}"
        description="{{data[7].descriptionAtkOne}}"
        />
        <app-small-card
        photoCard="{{data[7].photoAtkTwo}}"
        cardTitle="{{data[7].titleAtkTwo}}"
        description="{{data[7].descriptionAtkTwo}}"
        />
        <app-small-card
        photoCard="{{data[7].photoAtkThree}}"
        cardTitle="{{data[7].titleAtkThree}}"
        description="{{data[7].descriptionAtkThree}}"
        />
      }

      @else if (id == "24") {
        <div class="hero__cover">
          <img src="{{data[8].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[8].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[8].info}}</p>
        </div>

        <app-small-card
        photoCard="{{data[8].photoAtkOne}}"
        cardTitle="{{data[8].titleAtkOne}}"
        description="{{data[8].descriptionAtkOne}}"
        />
        <app-small-card
        photoCard="{{data[8].photoAtkTwo}}"
        cardTitle="{{data[8].titleAtkTwo}}"
        description="{{data[8].descriptionAtkTwo}}"
        />
        <app-small-card
        photoCard="{{data[8].photoAtkThree}}"
        cardTitle="{{data[8].titleAtkThree}}"
        description="{{data[8].descriptionAtkThree}}"
        />
      }
      @else if (id == "15") {
        <div class="hero__cover">
          <img src="{{data[10].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[10].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[10].info}}</p>
        </div>

        <app-small-card
        id="16"
        photoCard="{{data[11].photo}}"
        cardTitle="{{data[11].title}}"
        description="{{data[11].info}}"
        />
        <app-small-card
        id="17"
        photoCard="{{data[12].photo}}"
        cardTitle="{{data[12].title}}"
        description="{{data[12].info}}"
        />
      }
      @else if (id == "16") {
        <div class="hero__cover">
          <img src="{{data[11].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[11].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[11].info}}</p>
        </div>

        <app-small-card
        photoCard="{{data[11].photoAtkOne}}"
        cardTitle="{{data[11].titleAtkOne}}"
        description="{{data[11].descriptionAtkOne}}"
        />
        <app-small-card
        photoCard="{{data[11].photoAtkTwo}}"
        cardTitle="{{data[11].titleAtkTwo}}"
        description="{{data[11].descriptionAtkTwo}}"
        />
        <app-small-card
        photoCard="{{data[11].photoAtkThree}}"
        cardTitle="{{data[11].titleAtkThree}}"
        description="{{data[11].descriptionAtkThree}}"
        />
      }
      @else if (id == "17") {
        <div class="hero__cover">
          <img src="{{data[12].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[12].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[12].info}}</p>
        </div>

        <app-small-card
        photoCard="{{data[12].photoAtkOne}}"
        cardTitle="{{data[12].titleAtkOne}}"
        description="{{data[12].descriptionAtkOne}}"
        />
        <app-small-card
        photoCard="{{data[12].photoAtkTwo}}"
        cardTitle="{{data[12].titleAtkTwo}}"
        description="{{data[12].descriptionAtkTwo}}"
        />
        <app-small-card
        photoCard="{{data[12].photoAtkThree}}"
        cardTitle="{{data[12].titleAtkThree}}"
        description="{{data[12].descriptionAtkThree}}"
        />
      }

      @else {
        <div class="hero__cover">
          <img src="{{data[3].photo}}" alt="" srcset="">
        </div>

        <div class="hero__title">
          <h1>{{data[3].title}}</h1>
        </div>

        <div class="hero__info">
          <p>{{data[3].info}}</p>
        </div>

        <app-small-card
        photoCard="{{data[3].photoAtkOne}}"
        cardTitle="{{data[3].titleAtkOne}}"
        description="{{data[3].descriptionAtkOne}}"
        />
        <app-small-card
        photoCard="{{data[3].photoAtkTwo}}"
        cardTitle="{{data[3].titleAtkTwo}}"
        description="{{data[3].descriptionAtkTwo}}"
        />
        <app-small-card
        photoCard="{{data[3].photoAtkThree}}"
        cardTitle="{{data[3].titleAtkThree}}"
        description="{{data[3].descriptionAtkThree}}"
        />
    }

  </div>

</div>
