.container__articles {
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles__main {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-grow: 1;
  flex-basis: 200;
}
